:root {
  --lightOpacity: 0.6;
  --detailSize: 17px;
  --detailWeight: 600;
}

#detail_container {
  display: inline-block;
  text-align: center;
}

#detail_moviePoster {
  padding: 10px 0 0 0;
}

#detail_movieInfo {
  list-style: none;
  padding: 0;
}

#detail_movieTitle {
  font-size: 30px;
  font-weight: 600;
}

#detail_movieYear,
#detail_movieMPA,
#detail_movieRuntime,
#detail_movieGenres,
#detail_movieRating {
  opacity: var(--lightOpacity);
  font-size: var(--detailSize);
  font-weight: var(--detailWeight);
}

#detail_ratingImg {
  height: 20px;
}

#detail_movieSummary {
  padding: 0px 30%;
  text-align: left;
}

#detail_movieSummary > h2 {
  font-size: 20px;
}

.trailerModal {
  width: 60%;
  height: 80%;
  position: fixed;
  top: 5%;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 4px 10px 1px #6d6d6d;
}

.noTrailer {
  position: fixed;
  top: 5%;
  box-shadow: 5px 4px 10px 1px #6d6d6d;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 15%;
  height: fit-content;
  width: fit-content;
  color: black;
  background-color: white;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.modal_background {
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

#detail_trailerModal {
  opacity: 1;
}

#detail_moviePoster:hover {
  cursor: pointer;
}

@media screen and (min-width: 150px) and (max-width: 1200px) and (orientation: portrait) {
  #detail_movieSummary {
    padding: 0px 5%;
  }
}
