* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #f2f7f5;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.sortMenu {
  font-weight: 600;
  padding-left: 5px;
}

.loader {
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 60px;
  font-weight: 700;
}

.movies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 200px;
  width: 100%;
}

.movie_box {
  width: 45%;
}

.hide {
  display: none;
}

.trailerModal {
  width: 60%;
  height: 80%;
  position: fixed;
  top: 5%;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 4px 10px 1px #6d6d6d;
}

.noTrailer {
  position: fixed;
  top: 5%;
  box-shadow: 5px 4px 10px 1px #6d6d6d;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 15%;
  height: fit-content;
  width: fit-content;
  color: black;
  background-color: white;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.modal_background {
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

@media screen and (min-width: 320px) and (max-width: 667px) and (orientation: portrait) {
  .movies {
    padding: 6%;
  }
}
