.movies_movie {
  background-color: white;
  width: 100%;
  height: fit-content;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 20px;
  box-shadow: 5px 4px 10px 1px #6d6d6d;
}

.movies_movie #movie_poster {
  max-width: 200px;
  box-shadow: 5px 4px 11px 2px #323232;
  margin-bottom: 4px;
  margin-top: -40px;
  margin-left: -30px;
  position: relative;
}

.movie_data {
  margin-left: 20px;
}

.movie_title,
.movie_year,
.movie_genres,
.movie_rating,
.movie_runtime,
.movie_mpa_rating {
  margin: 0;
  padding: 1px;
}

.movie_year {
  margin-bottom: 15px;
}

.movie_title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.movie_genres {
  margin-top: 15px;
  font-size: 20px;
}

.movie_genres,
.movie_year,
.movie_rating,
.movie_mpa_rating,
.movie_runtime {
  opacity: 0.6;
  font-size: 12px;
  font-weight: 600;
}

.movie_summary {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.6;
}

.movie_summary:hover {
  opacity: 0.3;
}

.ratingImg {
  padding: 0;
  margin: 0;
  height: 20px;
}

@media screen and (min-width: 320px) and (max-width: 667px) {
  .movies_movie {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 667px) and (orientation: portrait) {
  .movies_movie {
    width: 100%;
    flex-direction: column;
  }
  #movie_poster {
    top: 0;
    left: 0;
    width: 100%;
  }
  .movies_movie {
    width: 100% !important;
  }
  .movie_summary,
  .movie_genres {
    font-size: medium;
  }
  .movie_title {
    font-size: x-large;
  }
}
