.Navigation {
  position: sticky;
  top: 0;
  background-color: #f2f7f5;
  z-index: 1;
  padding: 10px 0 0 0;
}

.Home,
.About {
  margin-right: 20px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 600;
}

.Home:hover,
.About:hover {
  opacity: 0.5;
}

.Navigation p {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  background-color: #f2f7f5;
  z-index: 1;
}

#root {
  display: inline;
}
